main > div {
  height: 100vh-10;
}

#card {
  background-color: #ebebeb;
  color: black;
  align-items: center;
  border-radius: 2em;
  width: 80vw;
  text-align: center;
}
#card > div {
  padding: 0;
}
#card .card--title {
  background-color: #4142a3;
  height: 2em;
  padding: 0.5em;
  color: white;
  margin: 0;
  align-items: center;
}
#card .card--title > p {
  margin: 5px;
}
#card .card--content * {
  margin: 10px;
}
#card #btnNewJoke {
  margin: 10px auto;
}
#card > div > button {
  align-content: center;
  margin: auto;
  background-color: #4142a3;
  color: white;
}

#btnFilter {
  margin: 10px auto;
}

#hidden-delivery {
  display: block;
  text-align: center;
  margin: auto !important;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  width: 40%;
  height: 1.2em;
}
#hidden-delivery:hover {
  cursor: pointer;
}
